/* TO GET AN IDEA OF THE CSS YOU WILL LIKELY BE USING, SEE THE LISTS BELOW. */

        /* 
        
        Spacing 

            - padding (shorthand and/or specific properties like padding-bottom, etc.)

            - margin, (shorthand and/or specific properties like margin-top, etc.)

            - letter-spacing, word-spacing, line-height

            - width, max-width, min-width
            - height, max-height, min-height

        Typography 

            - font-family, font-size, font-style, font-weight

            - text-decoration, text-align

            - color

            - text-shadow, text-transform

        Box, Layout and Border 

            - border (shorthand and/or specific properties like border-top, border-bottom-radius, border-width, etc.)

            - box-shadow

            - display, float, align-items, align-content

            - grid-template-columns, grid-column-gap

            - transform

        Other

            - :nth()-child (to target specific child elements)

            - :focus, :hover, :active (to target link states)

            - @font-face or @import (to import typefaces)

        */


/* ------ START WRITING YOUR CODE BELOW ------ */

@font-face {
    font-family: Robo;
    src: url(../fonts/sans-serif/roboto-regular.ttf); 
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: rozhaone;
    src: url(../fonts/serif/rozhaone-regular.ttf); 
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family:jose ;
    src: url(../fonts/serif/josefinslab-regular.ttf); 
    font-weight: normal;
    font-style: normal;
}

html {
    font-family: Robo, Arial,  sans-serif;
}

h1 {
    letter-spacing: 0.1rem;
    font-family: Robo, Arial, sans-serif;
    font-size: 2rem;
    margin: 2rem;
    text-align: center;
    transform: rotate(0.04rad);  
    text-shadow: 1px 1px #d1cbcb;
    
  
}

h1 span{
    font-family: rozhaone;
    text-transform: uppercase;
    color: #ffffff;
    text-orientation: sideways-right;
    border-radius: 0.3rem;
    text-shadow: none;
    font-size: 2.5rem;
}

.highlight{
    background-image: linear-gradient(#022929,#557eee);   
}


h2{
    font-size: 1rem;
    margin-left:2.5rem;
}

h3{
    font-size: 1rem;
    margin-left:2.5rem;
}

/* P */

p {
    font-size: 1rem;
}


/* Nav */

nav {
    margin-bottom: 2rem;
    border-top: 0.1rem solid rgb(61, 57, 57); 
    border-bottom: 0.1rem solid rgb(61, 57, 57); 
    padding-top: 1rem;
    padding-bottom: 1rem;
    list-style-type: none;
}

nav a {
    text-decoration: none;
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
    letter-spacing: normal; 
    padding: 4rem 
}

.article-image, img {

   float: left;
   margin-right:10px;
   margin-bottom:5px;
   padding: 2px;
}

.subsection{
    float: right;
    width: 20%;
}

.grid {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 980px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 20px;
  }